<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="br.com.andorm.test"
      android:versionCode="1"
      android:versionName="1.0">

    <instrumentation android:targetPackage="br.com.andorm" android:name="android.test.InstrumentationTestRunner" />
    <application android:icon="@drawable/icon" android:label="">

    <uses-library android:name="android.test.runner" />
    </application>
</manifest>